main {
    padding-top: 1rem;
    background-color: var(--content-color);
    border-radius: var(--border-roundness);
    display: flex;
    align-items: center;
    justify-content: center;
}

main img {
    width: 20%;
    background-color: black;
    border-radius: 10vh;
}