:root {
    --main_background-color: #2B3440;
    --content-color: #D8DDE4;
    --border-roundness: 10px;
}

body {
    margin-left: 2rem;
}

a:visited {
    color: black;
}

html {
    background-color: var(--main_background-color);
}

.btn {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    background-color: #1DCBBA;
    color: #072F2C;
    border-radius: 0.5rem;
    padding: 0.2rem;
}

.btn:hover {
    background-color: #18a696;
    cursor: pointer;
}

.button-bad {
    background-color: #af5050;
    color: black;
}

.button-bad:hover {
    background-color: #651616;
}

.flexcol {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flexrow {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

header {
    background-color: var(--content-color);
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: var(--border-roundness);
    font-family: 'Courier New', monospace;
    padding-right: 1rem;
    gap: 1vh;
    margin-bottom: 3vh;
}

header a {
    display: flex;
    align-items: center;

}

header a img {
    height: 8vh;
    width: auto;
}

.logo {
    /* It doesn't respect gap for whatever reason, so let's just highlight it's importance by giving it breathing room.*/
    margin-right: 2vh;
}