.indexbox {
  background: var(--content-color);
  width: fit-content;
  padding: 1rem;
}

.avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 2rem;

}

.person_card {
  padding: 0.7rem;
  background-color: #F3F4F5CE;
  height: fit-content;
  border: grey solid 0.1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.person_card a {
  font-size: 1.3rem;
}

#contacts {
  flex-wrap: wrap;
}

.largertext {
  font-size: 2rem;
}