html {
    background-color: var(--main_background-color);
    font-family: sans-serif;
}

main {
    display: flex;
    gap: 1rem;
}

.background {
    background-color: var(--content-color);
    padding: 0.75rem;
    border-radius: var(--border-roundness);
}

.infobox {
    height: fit-content;
}

.badge {
    width: fit-content;
    background: white;
    padding: 0.2rem;
    border-radius: 0.9rem;
}

.badge-good {
    background: lightgreen;
}

.badge-info {
    background: #90d8ee;
}


.avatar {
    height: 15rem;
    width: 15rem;
    border: 0.15rem black solid;
    border-radius: 0.9rem;
}

.link-icon {
    height: 3rem;
    width: 3rem;
}

.button-big {
    padding: 0.5rem;
}


.auditsection {
    overflow: scroll;
    height: 30rem;
    width: 80rem;
}

.buttoncontainer {
    display: flex;
    flex-direction: row;
    gap: 1%;
}
#description {
    /* Description has ghost margin, not sure where it's from */
    margin-top: 0;
}